<web-app version="2.4">

  <display-name>Archetype Created Web Application</display-name>

  <filter>
    <filter-name>Encoding</filter-name>
    <filter-class>org.manager.filters.Encoding</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>Internalization</filter-name>
    <filter-class>org.manager.filters.Internalization</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Internalization</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>Authorization</filter-name>
    <filter-class>org.manager.filters.Authorization</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Authorization</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>Dataupdate</filter-name>
    <filter-class>org.manager.filters.UpdateFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Dataupdate</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>org.manager.listeners.SessionListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>org.servlet.Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>HomeJSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/home.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeJSP</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NatPersonLogin</servlet-name>
    <jsp-file>/WEB-INF/jsp/payer/nperson_login_form.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>NatPersonLogin</servlet-name>
    <url-pattern>/person-login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JurPersonLogin</servlet-name>
    <jsp-file>/WEB-INF/jsp/payer/jperson_login_form.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JurPersonLogin</servlet-name>
    <url-pattern>/juridical-person-login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OfficerLogin</servlet-name>
    <jsp-file>/WEB-INF/jsp/officer/officer_login_form.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>OfficerLogin</servlet-name>
    <url-pattern>/officer-login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PayerRegForm</servlet-name>
    <jsp-file>/WEB-INF/jsp/payer/reg_form.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayerRegForm</servlet-name>
    <url-pattern>/payer-registration</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PayerReports</servlet-name>
    <jsp-file>/WEB-INF/jsp/payer/payer_report_list_form.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayerReports</servlet-name>
    <url-pattern>/payer-reports</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OfficerReports</servlet-name>
    <jsp-file>/WEB-INF/jsp/officer/officer_report_list_form.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>OfficerReports</servlet-name>
    <url-pattern>/officer-reports</url-pattern>
  </servlet-mapping>

</web-app>
        